.information {
  width: max-content;
  height: max-content;
  padding-top: 2px;
  background: #660099;
  background: linear-gradient(to top left, #0400d6 0%, #cfd0ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.information:hover {
  transition: all 0.2s;
  transform: scale(1.1);
}

.nova-massiva .tooltiptext {
  visibility: hidden;
  color: #222;
  font-weight: 100;
  white-space: nowrap;
  margin-bottom: 58px;
  font-size: 10px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.nova-massiva:hover .tooltiptext {
  visibility: visible;
}

.button_plus {
  margin-left: 3px;
  border-radius: 7px;
  width: 40px;
  height: 40px;
  background: #50c248;
  cursor: pointer;
  border: 0;
  box-shadow: 1px 1px 5px -2px rgb(55, 184, 0.75);
  -webkit-box-shadow: 1px 1px 5px -2px rgb(55, 184, 0.75);
  -moz-box-shadow: 1px 1px 5px -2px rgb(55, 184, 0.75);

  /* Mittig */
}

.button_plus i,
.plus-step {
  color: #ffffff;
  font-size: 25px;
  -webkit-text-stroke: 1px;
  height: 100%;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  /* Mittig */
}


.button_plus:hover {
  background: #50c248;
  transition: 0.2s;
  box-shadow: rgb(55, 184, 0.24) 0px 1px 4px 1px;
}

.edit-card,
.edit-stock {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 120px;
  font-weight: 500;
  color: white
}

.edit-card {
  background-color: #3a5eff;
}

.edit-card:hover {
  color: #ffffff;
  background-color: #3a5eff;
  -webkit-box-shadow: 1px 2px 23px 0px #3a5eff;
  -moz-box-shadow: 1px 2px 23px 0px #3a5eff;
  box-shadow: 1px 2px 23px 0px #3a5eff;
}

.edit-stock {
  background-color: #42b883;
}

.edit-stock:hover {
  color: #ffffff;
  background-color: #42b883;
  -webkit-box-shadow: 1px 2px 23px 0px #42b883;
  -moz-box-shadow: 1px 2px 23px 0px #42b883;
  box-shadow: 1px 2px 23px 0px #42b883;
}



.deleteDate {
  background-color: #EC507D;
  color: white
}

.deleteDate:hover {
}

.cleanPed {
  border-radius: 7px;
  width: 40px;
  height: 40px;
  background: #EC507D;
  cursor: pointer;
  border: 0;
  box-shadow: 1px 1px 5px -2px rgb(0, 0, 0);
  -webkit-box-shadow: 1px 1px 5px -2px rgb(0, 0, 0);
  -moz-box-shadow: 1px 1px 5px -2px rgb(0, 0, 0);

  /* Mittig */
}

.cleanPed i {
  color: #ffffff;
  font-size: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  /* Mittig */
}


.cleanPed:hover {
  background-color: #e82f63;
  -webkit-box-shadow: 1px 2px 23px -3px rgba(232, 47, 99, 1);
  -moz-box-shadow: 1px 2px 23px -3px rgba(232, 47, 99, 1);
  box-shadow: 1px 2px 23px -3px rgba(232, 47, 99, 1);
  transition: 0.2s;
}

.cleanPed .tooltiptext {
  visibility: hidden;
  color: #222;
  font-weight: 100;
  white-space: nowrap;
  margin-bottom: 58px;
  font-size: 10px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.cleanPed:hover .tooltiptext {
  visibility: visible;
  font-weight: bolder;
  color: rgb(77, 77, 77)
}

.deleteDate {
  background-color: #EC507D;
  color: white
}

.deleteDate:hover {
  background-color: #e82f63;
  -webkit-box-shadow: 1px 2px 23px -3px rgba(232, 47, 99, 1);
  -moz-box-shadow: 1px 2px 23px -3px rgba(232, 47, 99, 1);
  box-shadow: 1px 2px 23px -3px rgba(232, 47, 99, 1);
}

.sendProducts {
  border-radius: 7px;
  width: 40px;
  height: 40px;
  background: rgb(86, 83, 170);
  cursor: pointer;
  border: 0;
  box-shadow: 1px 1px 5px -2px rgb(0, 0, 0);
  -webkit-box-shadow: 1px 1px 5px -2px rgb(0, 0, 0);
  -moz-box-shadow: 1px 1px 5px -2px rgb(0, 0, 0);

  /* Mittig */
}


.sendProducts i {
  color: #ffffff;
  font-size: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  /* Mittig */
}


.sendProducts:hover {
  background-color: rgb(86, 83, 170);
  -webkit-box-shadow: 1px 2px 23px -3px rgb(86, 83, 170);
  -moz-box-shadow: 1px 2px 23px -3px rgb(86, 83, 170);
  box-shadow: 1px 2px 23px -3px rgb(86, 83, 170);
  transition: 0.2s;
}

.sendProducts .tooltiptext {
  visibility: hidden;
  color: #222;
  font-weight: 100;
  white-space: nowrap;
  margin-bottom: 58px;
  font-size: 10px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.sendProducts:hover .tooltiptext {
  visibility: visible;
  font-weight: bolder;
  color: rgb(77, 77, 77)
}

.workflow {
  color: rgb(56, 56, 56);
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 0 #fff inset, rgb(7, 70, 197, 0.7) 0 0 0 2px;
  padding: 5px 20px;
  border-radius: 50px;
  border: 0;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.workflow:hover {
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 3px 15px 0px;
}

.workflow:active {
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.massiva{
  height: 40px;
  letter-spacing: 1.3px;
  background-color: #006A4E;
  color: white
}
.massiva:hover{
  color: #ffffff;
  background-color: #006A4E;
  -webkit-box-shadow: 1px 2px 23px 0px #006A4E;
-moz-box-shadow: 1px 2px 23px 0px #006A4E;
box-shadow: 1px 2px 23px 0px #006A4E;
}
.templateMassiva {
  margin-top: 20px;
  transform: translate(-50%, -50%)
}

.templateMassiva a {
  display: block;
  height: 35px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background: #0471f1;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}
.templateMassiva a:hover{
  background: #0471f1;
}

b {
  background: #222;
  display: block;
  height: 30px;
  width: 110px;
  margin: -33px 0 0 10px;
  text-align: center;
  font: 10px/40px Helvetica, Verdana, sans-serif;
  color: #fff;
  position: absolute;
  z-index: -1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.templateMassiva a, b {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}


.templateMassiva:hover .bottom {
  margin: -10px 0 0 10px;
}

.templateMassiva a:active {
  background: #00b7ea;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
}

.templateMassiva:active .bottom {
  margin: -20px 0 0 10px;
}

