@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
/*configuracoes pra nao bugar a merda do input no bootstrap*/
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: none
}
body{
  background-color: --light;
}
#root {
    --vivocolor: #660099;
    --primary: #55717E;
    --dark: #061b28;
    --grey: #756388;
    --light: #f0f0f0;
    background-color: var(--light);
  }
.page-content {
  background-color: --light;
  min-height: calc(100vh);
  width: calc(100vw - 26px);
  padding-top: 10px;
  padding-left: 110px;

}

  
  
  /* a merda do scroll*/
  *::-webkit-scrollbar {
    width: 14px;
  }
  
  *::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(9, 53, 118);
    filter: blur(1px);
    border-radius: 10px;
    border: 4px solid #ffffff;
  }
  #linha-horizontal {
    width: 100%;
    border-bottom: 2px solid rgb(95, 95, 95);
}
#linha-horizontal-card {
  width: 100%;
  border-top: 2px solid #3a5eff;
}

  #insertMassiva .modal-content{
    height: 550px!important;
  }

/////////////////// HOME





