.information {
    width: max-content;
    height: max-content;
    padding-top: 2px;
    background: #660099;
    background: linear-gradient(to top left, #0400d6 0%, #cfd0ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .information:hover{
    transition: all 0.2s;
    transform: scale(1.1);
  }
  .nova-massiva .tooltiptext {
    visibility: hidden;
    color: #222;
    font-weight: 100;
    white-space: nowrap;
    margin-bottom: 58px;
    font-size: 10px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .nova-massiva:hover .tooltiptext {
    visibility: visible;
  }
  .button_plus {
    margin-left: 3px;
    border-radius: 7px;
    width: 40px;
    height: 40px;
    background: #50c248;
    cursor: pointer;
    border: 0;
    box-shadow: 1px 1px 5px -2px rgb(55, 184, 0.75);
  -webkit-box-shadow: 1px 1px 5px -2px rgb(55, 184, 0.75);
  -moz-box-shadow: 1px 1px 5px -2px rgb(55, 184, 0.75);

    /* Mittig */
  }
  .button_plus i, .plus-step{
    color: #ffffff;
    font-size: 25px;  
    -webkit-text-stroke: 1px;
    height: 100%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    /* Mittig */
  }


  .button_plus:hover {
    background: #50c248;
    transition: 0.2s;
    box-shadow: rgb(55, 184, 0.24) 0px 1px 4px 1px;
  }

  .edit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    font-weight: 500;
    background-color: #3a5eff;
    color: white
}

.edit-card:hover {
    color: #ffffff;
    background-color: #3a5eff;
    -webkit-box-shadow: 1px 2px 23px 0px #3a5eff;
    -moz-box-shadow: 1px 2px 23px 0px #3a5eff;
    box-shadow: 1px 2px 23px 0px #3a5eff;
}



.cleanPed {
  border-radius: 7px;
  width: 40px;
  height: 40px;
  background: #EC507D;
  cursor: pointer;
  border: 0;
  box-shadow: 1px 1px 5px -2px rgb(0, 0, 0);
  -webkit-box-shadow: 1px 1px 5px -2px rgb(0, 0, 0);
  -moz-box-shadow: 1px 1px 5px -2px rgb(0, 0, 0);

  /* Mittig */
}

.cleanPed i {
  color: #ffffff;
  font-size: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  /* Mittig */
}


.cleanPed:hover {
  background: #e82f63;
  transition: 0.2s;
}

.cleanPed .tooltiptext {
  visibility: hidden;
  color: #222;
  font-weight: 100;
  white-space: nowrap;
  margin-bottom: 58px;
  font-size: 10px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.cleanPed:hover .tooltiptext {
  visibility: visible;
  font-weight: bolder;
  color: rgb(77, 77, 77)
}
.deleteDate{
  background-color: #EC507D;
  color: white
}
.deleteDate:hover{
  background-color: #e82f63;
  -webkit-box-shadow: 1px 2px 23px -3px rgba(232,47,99,1);
-moz-box-shadow: 1px 2px 23px -3px rgba(232,47,99,1);
box-shadow: 1px 2px 23px -3px rgba(232,47,99,1);
}

.sendProducts {
  border-radius: 7px;
  width: 40px;
  height: 40px;
  background: #2f32f5;
  cursor: pointer;
  border: 0;
  box-shadow: 1px 1px 5px -2px rgb(0, 0, 0);
  -webkit-box-shadow: 1px 1px 5px -2px rgb(0, 0, 0);
  -moz-box-shadow: 1px 1px 5px -2px rgb(0, 0, 0);

  /* Mittig */
}


.sendProducts i {
  color: #ffffff;
  font-size: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  /* Mittig */
}


.sendProducts:hover {
  background: #2e2e2e;
  transition: 0.2s;
}

.sendProducts .tooltiptext {
  visibility: hidden;
  color: #222;
  font-weight: 100;
  white-space: nowrap;
  margin-bottom: 58px;
  font-size: 10px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.sendProducts:hover .tooltiptext {
  visibility: visible;
  font-weight: bolder;
  color: rgb(77, 77, 77)
}
.workflow {
  color: rgb(56, 56, 56);
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 0 #fff inset, rgb(7, 70, 197, 0.7) 0 0 0 2px;
  padding: 5px 20px;
  border-radius: 50px;
  border: 0;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}
.workflow:hover {
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 3px 15px 0px;
}
.workflow:active {
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}